@page {
    margin-bottom: 72pt;
    margin-top: 72pt
    }
@font-face {
    font-family: "KanjiBooks";
    font-style: normal;
    font-weight: normal;
    src: url(fonts/00001.ttf)
    }
@font-face {
    font-family: "MS Mincho";
    font-style: normal;
    font-weight: normal;
    src: url(fonts/00002.ttf)
    }
